.container h4 {
    color: var(--system-colours-mine-shaft, #323232);
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 32px;
}
.container p {
    color: var(--system-colours-mine-shaft, #323232);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
}
.container input {
    border: none;
    outline: none;
}
.buttoContainer {
    margin-top: 40px;
    display: flex;
    gap: 5px;
}
.buttoContainer button:last-child {
    color: var(--mine-shaft, #323232);
    background: var(--ui-card-bg, linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(247, 250, 252, 0.72) 100%));
}
.gap {
    width: 8px;
    height: 2px;
    margin: 5px;
    background: rgba(50, 50, 50, 0.67);
    mix-blend-mode: overlay;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15) inset;
}
