.socialSignIn h4 {
    color: var(--system-colours-mine-shaft, #323232);
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 32px; /* 133.333% */
}
.socialSignIn p {
    color: var(--system-colours-mine-shaft, #323232);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 125% */
}
.socialMediaIcons {
    display: flex;
    gap: 10px;
}
.iconBox {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: var(--system-colours-lilac-white, #f7fafc);
    box-shadow:
        0px 0px 4px 0px rgba(254, 254, 254, 0.1),
        2px 2px 4px 0px rgba(50, 50, 50, 0.1),
        -1px -1px 4px 0px rgba(254, 254, 254, 0.05),
        -2px -2px 6px 0px rgba(252, 252, 252, 0.33);
    backdrop-filter: blur(8px);
    margin-bottom: 10px;
}
.socialSignInButton {
    color: var(--mine-shaft, #323232);
    background: var(--ui-card-bg, linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(247, 250, 252, 0.72) 100%));
}
