.PasswordContainer h4 {
    color: var(--system-colours-mine-shaft, #323232);
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 32px;
}
.PasswordContainer p {
    color: var(--ui-colours-text-primary, #323232);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 125% */
}
.PasswordContainer input {
    display: flex;
    padding: var(--spacing-spacing-medium, 12px) var(--spacing-spacing-large, 16px) !important;
    align-items: center;
    gap: var(--spacing-spacing-regular, 8px) !important;
    border-radius: var(--corner-radii-corner-small, 8px) !important;
    background: rgba(51, 34, 51, 0.05) !important;
    box-shadow:
        1px 1px 2px 0px rgba(50, 50, 50, 0.2) inset,
        -1px -1px 2px 0px rgba(254, 254, 254, 0.4) inset,
        1px 1px 2px 0px rgba(50, 50, 50, 0.1) inset,
        -1px -1px 2px 0px rgba(254, 254, 254, 0.2) inset !important;
}
.PasswordContainer label {
    color: var(--mine-shaft, #323232);
    text-shadow: 2px 2px 4px rgba(50, 50, 50, 0.33);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    text-transform: uppercase;
}
.buttoContainer button:last-child {
    color: var(--mine-shaft, #323232);
    background: var(--ui-card-bg, linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(247, 250, 252, 0.72) 100%));
}
