.toggle_switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
}
.toggle_switch input[type="checkbox"] {
    display: none;
}
.toggle_switch .switch {
    position: absolute;
    cursor: pointer;
    /* background-color: #ccc; */
    border-radius: 16px;
    background: rgba(50, 50, 50, 0.1);
    box-shadow:
        1px 1px 2px 0px rgba(50, 50, 50, 0.2) inset,
        -1px -1px 2px 0px rgba(252, 252, 252, 0.33) inset;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
}
.toggle_switch .switch::before {
    position: absolute;
    content: "";
    left: 3.5px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 3px solid #386bdd;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.toggle_switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(16px);
    background-color: #386bdd;
    border: 3px solid #fff;
    left: 3.5px;
    top: 1px;
    box-shadow:
        1px 1px 2px 0px rgba(50, 50, 50, 0.2) inset,
        -1px -1px 2px 0px rgba(252, 252, 252, 0.33) inset;
}
.toggle_switch input[type="checkbox"]:checked + .switch {
    border-radius: 16px;
    background: rgba(247, 250, 252, 0.05);
    box-shadow:
        1px 1px 2px 0px rgba(50, 50, 50, 0.2) inset,
        -1px -1px 2px 0px rgba(252, 252, 252, 0.33) inset;
}
